.login-page
{
    background-color: white;
    width: 100%;
    height: 720px;
    fill: white;
    /* border: solid black 5px; */
    /* margin: 100px; */
}

.login
{
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: #faff20;
    width: 600px;
    height: 600px;
    border: solid black 5px;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    transform: translate(75%, 10%);
}

.login-title
{
    border: solid black 5px;
    background-color: white;
    margin: 10px 10px 50px 10px;
    border-radius: 100px;
    padding: 10px;
    width: 100px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.logo
{
    height: 90px;
    width: 280px;
    margin: 10px 10px 50px 10px;
}

.login-form
{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    align-items: center;
    justify-content: center;
}

.email
{
    border: solid black 5px;
    margin: 10px 10px 10px 10px;
    border-radius: 100px;
    padding: 10px;
    padding-left: 20px;
    width: 350px;
    line-height: 30px;
    transition: 0.2s;
}

.email:focus 
{
    background-color: rgb(218, 212, 212);
}

.password
{
    border: solid black 5px;
    margin: 10px 10px 10px 10px;
    border-radius: 100px;
    padding: 10px;
    padding-left: 20px;
    width: 350px;
    line-height: 30px;
    transition: 0.2s;
}

.password:focus 
{
    background-color: rgb(218, 212, 212);
}

.sign-in
{
    border: solid black 5px;
    margin: 10px 10px 50px 10px;
    border-radius: 100px;
    padding: 10px;
    width: 100px;
    line-height: 30px;
    transition: 0.1s;
}

.sign-in:focus 
{
    background-color: rgb(218, 212, 212);
}

.error
{
    padding: 5px;
    font-size: 20px;
    color: rgb(65, 62, 62);
    margin: 10px 10px 10px 10px;
    border: dashed rgb(0, 0, 0) 2px;
    border-radius: 30px;
    transition: 0.2s ease;
}
.error:focus 
{
    color: red
}